.registeration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bcc3cb;


    .register-container {
        width: 30%;
        padding: 10px;
        background: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;

        h2 {
            text-align: center;
            color: #2c3e50;
            margin: 4px;
            font-size: 24px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            label {
                color: #34495e;
                font-weight: 600;
                margin-bottom: 8px;
                font-size: 14px;
            }

            input,
            select {
                padding: 12px;
                border: 1px solid #bdc3c7;
                border-radius: 4px;
                font-size: 14px;
                background-color: white;
                transition: border-color 0.3s ease;

                &:focus {
                    outline: none;
                    border-color: #3498db;
                    box-shadow: 0 0 4px rgba(52, 152, 219, 0.2);
                }
            }
        }

        .register-btn {
            padding: 12px;
            margin-top: 20px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #2980b9;
            }

            &:active {
                transform: scale(0.98);
            }
        }
    }

    .login {
        margin: 10px;

    }
}