.logs {
  width: 100%;
  padding: 6px 3px 0px 2px;
  height: calc(100vh - 82px);
  display: flex;

  .log-container {
    background-color: #ced4da;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  h2 {
    margin-bottom: 10px;
    color: #ffffff;
    flex-shrink: 0;
  }

  .log-header {
    display: grid;
    grid-template-columns: 150px 100px 1fr;
    padding: 10px;
    background: #4c566a;
    font-weight: bold;
    border-radius: 5px;
    color: #eceff4;
    flex-shrink: 0;
  }

  .log-body {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
  }

  .log-row {
    display: grid;
    grid-template-columns: 150px 100px 1fr;
    padding: 10px;
    border-bottom: 1px solid #4c566a;
    font-family: monospace;
  }

  .info {
    color: #1799ef;
  }

  .warn {
    color: #f1c40f;
  }

  .error {
    color: #e74c3c;
  }
}



@media (max-width: 920px) {
  .logs {
    height: calc(100vh - 140px);
  }

  .log-header {
    display: none;
  }

  .log-row {
    display: block !important;
    padding: 12px;
  }

  .log-row span {
    display: block;
    margin-bottom: 4px;
  }

  .log-row span:nth-child(1)::before {
    content: "Time: ";
    font-weight: bold;
    color: #a4b9bb;
  }

  .log-row span:nth-child(2)::before {
    content: "Level: ";
    font-weight: bold;
    color: #a4b9bb;
  }

  .log-row span:nth-child(3)::before {
    content: "Message: ";
    font-weight: bold;
    color: #a4b9bb;
  }
}