.logs.dark {

  .log-container {
    background-color: #212529;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  h2 {
    color: #ffffff;
  }

  .log-header {
    background: #055160;
    color: #eceff4;
  }

  .log-row {
    border-bottom: 1px solid #4c566a;
  }

}
@media (max-width: 920px) {
  .dark.log-row span:nth-child(1)::before {
    color: #a4aab0;
  }

  .dark.log-row span:nth-child(2)::before {
    color: #a4aab0;
  }

  .dark.log-row span:nth-child(3)::before {
    color: #a4aab0;
  }
}