body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #2f3640;
    color: #f1f2f6;
}

.log-container {
    width: 98%;
    margin: 13px auto;
    background: #3b4252;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 15px;
    color: #ffffff;
}

.log-header {
    display: grid;
    grid-template-columns: 150px 100px 1fr;
    padding: 10px;
    background: #4c566a;
    font-weight: bold;
    border-radius: 5px;
    color: #eceff4;
}

.log-body {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10px;
}

.log-row {
    display: grid;
    grid-template-columns: 150px 100px 1fr;
    padding: 10px;
    border-bottom: 1px solid #4c566a;
    font-family: monospace;
}

.log-row:hover {
    background: #434c5e;
}

// .log-row.info span:nth-child(1), .info span:nth-child(3) {
//     color: darkgray;
// }

.info {
    color: #5dade2;
}

.warn {
    color: #f1c40f;
}
.error {
    color: #e74c3c;
}


@media (max-width: 768px) {
    .log-header {
        display: none;
    }

    .log-row {
        display: block;
        padding: 12px;
    }

    .log-row span {
        display: block;
        margin-bottom: 4px;
    }

    .log-row span:nth-child(1)::before {
        content: "Time: ";
        font-weight: bold;
        color: #a4b9bb;
    }

    .log-row span:nth-child(2)::before {
        content: "Level: ";
        font-weight: bold;
        color: #a4b9bb;

    }

    .log-row span:nth-child(3)::before {
        content: "Message: ";
        font-weight: bold;
        color: #a4b9bb;

    }
}