* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  height: 100vh;
  background: linear-gradient(to right, #f5f7fa, #e4ecf7);
}

.error {
  color: rgb(228, 89, 89);
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #ffffff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}