<div class="header">
    <div class="header-content-section col-6">
        <div class="profile">
            <img [src]="user.profile" alt="Image">
        </div>
        <p class="welcome-text">Welcome <span class="username">{{ user.username }}...!</span></p>
    </div>
    <div class="button-section col-6">
        <button class="header-btn" [routerLink]="['/home']" routerLinkActive="active">Home</button>
        <button class="header-btn" [routerLink]="['/logs']" *ngIf="context.userRole === 'admin'" routerLinkActive="active">Log History</button>
        <button class="header-btn" [routerLink]="['/getUsers']" routerLinkActive="active">Details</button>
        <button class="header-btn" (click)="removeUserAccess()">Logout</button>
    </div>
</div>