<div class="logIn">
    <div class="login-container">
        <h2>Login</h2>
        <form #userDetails="ngForm">
            <div class="form-group">
                <label>Email</label>
                <input type="email" placeholder="Enter your email" required name="email" ngModel>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Enter your password" required name="password" ngModel>
            </div>
            <div class="limitMsg">
                <span class="error">{{message}} {{time}}</span>
            </div>
            <button type="submit" (click)="checkUserDetails(userDetails)" [ngClass]="loading ? 'padLoad' : 'padLog'">
                <span class="loader" *ngIf="loading"></span>
                <span *ngIf="hideText">Login</span>
            </button>
            <div class="register">
                Don't have an account? <a [routerLink]="['/register']">Sign up</a>
            </div>
        </form>
    </div>
</div>