<div class="welcome-container {{context.theme}}">
  <div class="content">
    
    <h1>
      Welcome to <span>SecureBox 🔐</span>
    </h1>

    <p>
      A secure and powerful platform to manage your data, 
      track user activity, and control access seamlessly.
    </p>

    <div class="buttons">
      <button class="primary-btn" [routerLink]="['/getUsers']">Get Started</button>
      <button class="secondary-btn" [routerLink]="['/features']">Explore Features</button>
    </div>

  </div>
</div>