<div class="updateUserDetails" *ngIf="isUpdateDetails">
    <app-update-user [userData]="updateDetails" (status)="closePopOut($event)"
        (recall)="recallUserData($event)"></app-update-user>
</div>
<div class="container mt-5 {{context.theme}}">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let col of columns">{{col.name}}</th>
                </tr>
                <tr class="filter-row">
                    <th class="filter-text" *ngFor="let col of columns">
                        <input type="text" placeholder="search..." #searchInput
                            (input)="onSearch(searchInput.value, col.key)" [disabled]="col.disabled">
                    </th>
                </tr>
            </thead>
            <tbody>
                <div class="loading-wrapper" *ngIf="isLoading">
                    <span class="loader"></span>
                </div>
                <tr *ngFor="let data of userData" [class.admin-row]="data.role === 'admin'">
                    <td>{{data.id}}</td>
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.age}}</td>
                    <td>{{data.location}}</td>
                    <td><span
                            [ngClass]="data.status === 'active' ? 'activeBadge' : 'inactiveBadge'">{{data.status}}</span>
                    </td>
                    <td>{{maskData(data.email)}}</td>
                    <td>
                        <img [src]="data.profiles" alt="No Profile"
                            [ngClass]="data.status === 'active' ? 'active' : 'inactive'"
                            (click)="openImage(data.profiles, data.firstName)" (contextmenu)="$event.preventDefault()">
                    </td>
                    <td [class.edit-table-admin]="context.userRole === 'admin'">
                        <button class="badgeEdit" (click)="updateUserData(data)"
                            [disabled]="context.userRole !== 'admin'  && context.userId != data.id">Edit</button>
                        <button *ngIf="context.userRole === 'admin'" class="badgeDelete"
                            (click)="deleteUserData(data.id)" [disabled]="data.role === 'admin'">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="userData && userData.length === 0" class="tableError">No data available</div>
    </div>
    <div class="pagination-cell">
        <ng-container *ngFor="let page of pages">
            <button class="pageNumbers" [style.color]="page === currentPage ? 'green' : ''" (click)="getAllUserData(page)">{{page}}</button>
        </ng-container>
    </div>
</div>