.container {
    width: 100%;
    max-width: 100%;
    padding: 6px;
    margin-top: auto !important;
}

.table-responsive {
    width: 100%;
    border-radius: 8px;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    table-layout: auto;
}

.table thead {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.table thead th {
    color: white;
    padding: 16px;
    text-align: left;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #667eea;
    text-align: center;
}

.table tbody td {
    padding: 14px 10px;
    color: #686262;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.table tbody tr td img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.table th,
.table td {
    white-space: nowrap;
}

.table td:last-child {
    white-space: nowrap;
}

.table tbody tr:nth-of-type(even) td {
    background-color: #dbe7ff !important;
}

.table tbody tr:nth-of-type(odd) td {
    background-color: #eaf2ff !important;
}

.badge {
    background-color: #10b981;
    color: white;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.badgeEdit,
.badgeDelete {
    color: white;
    padding: 5px;
    width: 50%;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.badgeEdit {
    background-color: #3b82f6;
}

.badgeDelete {
    background-color: #ef4444;
}

.loader {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    display: inline-grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
    content: "Loading...";
    grid-area: 1/1;
    -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
    animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}

.loader:after {
    -webkit-mask-position: 1ch 50%;
    --s: -1;
}

.edit-delete {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@keyframes l11 {
    100% {
        transform: translateY(calc(var(--s, 1) * 0.1%));
    }
}

.tableError {
    color: rgb(241, 80, 80);
    text-align: center;
}

.updateUserDetails {
    position: absolute;
    width: 100%;
    backdrop-filter: blur(2px);
}

.inactive {
    border: 3px solid rgb(164, 164, 164);
}

.active {
    border: solid rgb(78, 213, 78);
}

::ng-deep .swal2-html-container {
    display: contents !important;
}

@media (max-width: 950px) {

    .container {
        padding: 10px;
    }

    .table {
        min-width: 900px;
    }

    .table th,
    .table td {
        padding: 10px;
        font-size: 12px;
    }

    .updateUserDetails {
        padding: 10px;
    }

    .badgeEdit,
    .badgeDelete {
        width: 75%;
    }
}